.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3 rem;
    height: 94vh;
}

.ss-logo{
    text-align: center;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo-icon{
    font-size: 1.4rem;
}

.menu--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #27374d;
}

.menu--list .item:hover{
    background: #27374d;
    color: #dde6ed;
}

.ss-logo-image {
    width: 300px;  /* Adjust size as needed */
    padding: 20px 20px 80px 20px;
    object-fit: contain;
    cursor: pointer;
  }
